<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.education.ketang.mapper.MajjShitiMapper" >
  <resultMap id="BaseResultMap" type="com.jk.education.ketang.common.model.MajjShiti" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="keytype" property="keytype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, typename, keytype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from majj_shiti
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from majj_shiti
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.education.ketang.common.model.MajjShiti" >
    insert into majj_shiti (id, typename, keytype
      )
    values (#{id,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{keytype,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.education.ketang.common.model.MajjShiti" >
    insert into majj_shiti
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="keytype != null" >
        keytype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="keytype != null" >
        #{keytype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.education.ketang.common.model.MajjShiti" >
    update majj_shiti
    <set >
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="keytype != null" >
        keytype = #{keytype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.education.ketang.common.model.MajjShiti" >
    update majj_shiti
    set typename = #{typename,jdbcType=VARCHAR},
      keytype = #{keytype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findshitileixing" resultType="com.jk.education.ketang.common.model.MajjShiti">
    select * from majj_shiti
  </select>
</mapper>