<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tit_tab">
    <ul>
        <li><a href="../page/toGksshow" class="on">已审</a></li>
        <li><a href="../page/toGksdaishen" class="on">待审</a></li>
        <li><a href="../page/toGkshuishouzhan" >回收站</a></li>
        <li><a href="#" >添加</a></li>
        <li><a href="../page/toGkskejianku" >课件库</a></li>
        <li><a href="../page/toGksshipintanti" >视频弹题题库</a></li>
        <li><a href="../page/toGkscctongbushipin" >CC待同步视频库</a></li>
        <li><a href="#" >导出</a></li>
        <!-- 已审 -->
    </ul>
</div>
</body>
</html>