
<style media="screen">
    body{background: #fff;}

</style>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://try.51eduline.com/apps/admin/_static/css/admin.css" rel="stylesheet" type="text/css">
    <script>
        /**
         * 全局变量
         */
        var SITE_URL  = 'http://try.51eduline.com';
        var THEME_URL = 'http://try.51eduline.com/addons/theme/stv1/_static';
        var APPNAME   = 'course';
        var UPLOAD_URL ='http://try.51eduline.com/data/upload';
        var MID		  = '1678';
        var UID		  = '1678';
        var initNums  =  '140';
        // Js语言变量
        var LANG = new Array();
        var info = {icon:0,time:1800,btn:false,title:'',closeBtn:0};
        var success = {icon:1,time:1800,btn:false,title:'',closeBtn:0};
        var error = {icon:2,time:1800,btn:false,title:'',closeBtn:0};
    </script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/core.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/apps/admin/_static/js/module.js"></script>
    <script src="http://try.51eduline.com/addons/theme/stv1/_static/js/common.js"></script>
    <script src="http://try.51eduline.com/addons/theme/stv1/_static/js/module.common.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/apps/admin/_static/js/admin.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/ui.layer.js"></script>
    <!--非admin应用的后台js脚本统一写在  模板风格对应的app目录下的admin.js中-->
    <script type="text/javascript" src="http://try.51eduline.com/apps/course/_static/js/admin.js"></script>
    <style>
        @font-face {font-family: 'iconfontNEW';src: url('http://try.51eduline.com/addons/theme/stv1/_static/icon/iconfontNEW.woff?v={$site.sys_version}');}
        .iconfontNEW{font-family: iconfontNEW;font-style: normal;}
    </style>
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="showTable">
<div id="container" class="so_main">
    <!-- START TAB框 -->
    <div class="tit_tab">
        <ul>
            <li><a href="../page/toGksshow" >已审</a></li>
            <li><a href="../page/toGksdaishen" >待审</a></li>
            <li><a href="../page/toGkshuishouzhan" class="on">回收站</a></li>
            <li><a href="#" >添加</a></li>
            <li><a href="../page/toGkskejianku" >课件库</a></li>
            <li><a href="../page/toGksshipintanti" >视频弹题题库</a></li>
            <li><a href="../page/toGkscctongbushipin" >CC待同步视频库</a></li>
            <li><a href="#" >导出</a></li>
            <!-- 已审 -->
        </ul>
    </div>
    <!-- END TAB框 -->

    <!-- START 页面配置 -->
    <div id='page_config' class = "form2 list" >
        <div class="hd">提示：checkbox如果默认有多个值，请以“,”隔开。</div>
        <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=savePageConfig" method="POST">
            <input type="hidden" name='pageKey' value="course_AdminVideo_recycle"  class="s-txt"/>
            <input type="hidden" name='pageTitle' value="回收站" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">是否隐藏</th>
                    <th class="line_l">点击事件</th>
                </tr>
                <tr overstyle="on">
                    <td width="20%"> <input type="hidden" name='key[]' value='id'> id</td>
                    <td width="30%"><input type="text" name='key_name[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%">
                        <select name="key_hidden[]">
                            <option value="0" selected="selected">显示</option>
                            <option value="1" >隐藏</option>
                        </select>
                    </td>
                    <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <!-- <td style="background-color:#1E325C">
                    <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                    <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                    </td> -->
                </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_title'> video_title</td>
                <td width="30%"><input type="text" name='key_name[]' value='课程名'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='user_title'> user_title</td>
                <td width="30%"><input type="text" name='key_name[]' value='创建者'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='activity'> activity</td>
                <td width="30%"><input type="text" name='key_name[]' value='是否审核'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='ctime'> ctime</td>
                <td width="30%"><input type="text" name='key_name[]' value='创建时间'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='DOACTION'> DOACTION</td>
                <td width="30%"><input type="text" name='key_name[]' value='操作'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
            </table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 页面配置 -->

    <!-- START 搜索配置 -->
    <div id='search_config' class = "form2 list" >
        <div class="hd">提示:checkbox如果默认有多个值,请以","隔开。</div>
        <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=saveSearchConfig" method="POST">
            <input type="hidden" name='searchPageKey' value="S_course_AdminVideo_recycle" />
            <input type="hidden" name='pageTitle' value="回收站" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">输入类型</th>
                    <th class="line_l">提示信息</th>
                    <th class="line_l">验证事件</th>
                </tr>
            </table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 搜索配置 -->

    <!-- START 搜索框 -->
    <div class="form2" id='search_form' >
        <form action="..AdminVideo&act=recycle&dosearch=1" method="post">
            <div class="page_btm">
                <input type = "reset" value = "清空" class="btn_b" onclick="reset_search()">&nbsp;&nbsp;
                <input type="submit" value="确定" class="btn_b"> &nbsp;&nbsp;
                <input type="button" value="关闭" class="btn_w" onclick="admin.fold('search_form')">
            </div>
        </form>
    </div>
    <!-- END 搜索框 -->

    <!-- START TOOLBAR -->
    <div class="Toolbar_inbox">
        <!-- <div class="page right"><span>共35条</span> <a class='current'>1</a><a p='2' href='/index.php?app=course&mod=AdminVideo&act=recycle&tabHash=recycle&p=2'>2</a><a p='2' href='/index.php?app=course&mod=AdminVideo&act=recycle&tabHash=recycle&p=2' class='next'>下一页</a></div> -->
        <a v-on:click="delAll()" class="btn_a"><span>彻底删除</span></a>
    </div>
    <!-- END TOOLBAR -->

    <!-- START LIST -->
    <div class="list" id='list'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th style="width:30px;">
                    <input type="checkbox" @click="checkAll" v-model="checked">
                </th>
                <th class="line_l"  style="width:30px;"  >id</th>
                <th class="line_l"   >课程名</th>
                <th class="line_l"   >创建者</th>
                <th class="line_l"   >是否审核</th>
                <th class="line_l"   >创建时间</th>
                <th class="line_l"   style="width:auto;" >操作</th>
            </tr>
            <tr overstyle="on" v-for="dianbohsz in data">
                <td><input type="checkbox" v-model="checkModel" :value="dianbohsz.id"></td>
                <td >{{dianbohsz.id}}</td>
                <td >
                <a href='../course/174.html?is_look=1' style='color:#3b5999; ' target='_blank'>{{dianbohsz.teachername}}</a>
                </td>
                <td >
                <a event-node="face_card" uid="1691" href="../user/index/1691.html" class="" target="_blank">{{dianbohsz.username}}</a>
                </td>
                <td ><span style="color:green" v-if="dianbohsz.auditstatus==0">已审核</span>	<span style="color:green" v-else>未审核</span></td>
                <td >{{dianbohsz.addtime}}</td>
                <td >
                    <!--<a href="#">课时管理</a> |
                    <a href="#">学习记录</a> |
                    <a href="#">提问</a> |
                    <a href="#">笔记</a> |
                    <a href="#">评价</a> |
                    <a href="#">编辑</a> |
                    <a href="#">赠送</a> |-->
                    <a href="#" v-on:click="fenxiao(dianbohsz.id,dianbohsz.fenxiaostatus)"><span v-if="dianbohsz.fenxiaostatus==0">禁止分销</span><span v-else>允许分销</span></a> |
                    <a href="#" v-on:click="qiyong(dianbohsz.id)">启用</a> |
                    <a href="#" v-on:click="shangxiajia(dianbohsz.id,dianbohsz.shangxiajiastatus)"><span v-if="dianbohsz.shangxiajiastatus==0">立即下架</span><span v-else>立即上架</span></a>
                </td>
            </tr>
            </table>
    </div>
    <!-- END LIST -->

    <!-- START BOTTOMBAR -->
    <!--<div class="Toolbar_inbox">
        <div class="page right"><span>共35条</span> <a class='current'>1</a><a p='2' href='/index.php?app=course&mod=AdminVideo&act=recycle&tabHash=recycle&p=2'>2</a><a p='2' href='/index.php?app=course&mod=AdminVideo&act=recycle&tabHash=recycle&p=2' class='next'>下一页</a></div>
        &lt;!&ndash; 	<a onclick="admin.crossVideos('delVideos')" class="btn_a"><span>彻底删除</span></a> &ndash;&gt;
    </div>-->
    <!-- END BOTTOMBAR -->
</div>
<script>
    function reset_search() {
        var url = $('#search_form form ').attr('action');
        window.location.href = url;
    }
</script>
<script type="text/javascript">
    document.onkeydown=function (e) {
        e=window.event||e;
        var key = e.keyCode;
        if ((e.ctrlKey && key == 82) || key == 116) {
            parent.MainIframe.location.reload();
            if(document.all) {
                e.keyCode = 0;
                e.returnValue = false;
            }else {
                e.cancelBubble = true;
                e.preventDefault();
            }
        }
    }
    /**
     * 初始化对象
     */
//表格样式
    $(document).ready(function(){
        admin.bindTrOn();});
</script>
<script type="text/javascript">
    $(function () {
        finddianbokechenghszAll();
    })

    /**
     * 回收站查询
     */
    function finddianbokechenghszAll(){
        $.post('../finddianbokechenghszAll',{},function (data) {
            a= new Vue({
                el: '#showTable',
                data: {
                    data: data,
                    checked:false, //是否全选
                    checkModel:[] //双向数据绑定的数组，我是用的id
                },
                watch:{
                    checkModel(){
                        if(this.checkModel.length==this.data.length){
                            this.checked=true;
                        }else{
                            this.checked=false;
                        }
                    }
                },
                methods:{
                    checkAll(){
                        if(this.checked){
                            this.data.forEach((dianbohsz)=>{
                                if(this.checkModel.indexOf(dianbohsz.id)==-1){
                                    this.checkModel.push(dianbohsz.id)
                                }
                            })

                        }else{
                            this.checkModel=[];
                        }
                    }
                }

            })
        })
    }

    /**
     * 分销状态
     * @param id
     * @param fenxiaostatus
     */
    function fenxiao(id,fenxiaostatus) {
        $.post('../gksUpdfenxiaoStatus',{id:id,fenxiaostatus:fenxiaostatus},function (data) {
            if(data)  {
                window.location.reload();
            }
        })
    }

    /**
     * 启用按钮
     * @param
     */
    function qiyong(id) {
        var jinyongstatus=0
        $.post('../gksUpdJinyongStatus',{id:id,jinyongstatus:jinyongstatus},function (data) {
            if(data)  {
                window.location.reload();
            }
        })
    }

    /**
     * 上下架管理
     * @param id
     * @param shangxiajiastatus
     */
    function shangxiajia(id,shangxiajiastatus) {
        $.post('../gksUpdshangxiajiaStatus',{id:id,shangxiajiastatus:shangxiajiastatus},function (data) {
            if (data){
                window.location.reload();
            }
        })
    }

    /**
     * 批量永久删除
     */
    function delAll() {
        var arr=a.checkModel;
        var jinyongstatus=1;
        var ids = "";
        if (arr.length<1){
            alert('请选择')
        }else {
            for (var i = 0; i < arr.length; i++) {
                ids += ids == "" ? arr[i] : ","+arr[i];
            }
            $.post('../delhszAll', {ids: ids}, function (data) {
                if (data) {
                    window.location.reload();
                }
            })
        }
    }
</script>
</div>
</body>
</html>