
<style media="screen">
    body{background: #fff;}

</style>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://try.51eduline.com/apps/admin/_static/css/admin.css" rel="stylesheet" type="text/css">
    <script>
        /**
         * 全局变量
         */
        var SITE_URL  = 'http://try.51eduline.com';
        var THEME_URL = 'http://try.51eduline.com/addons/theme/stv1/_static';
        var APPNAME   = 'course';
        var UPLOAD_URL ='http://try.51eduline.com/data/upload';
        var MID		  = '1678';
        var UID		  = '1678';
        var initNums  =  '140';
        // Js语言变量
        var LANG = new Array();
        var info = {icon:0,time:1800,btn:false,title:'',closeBtn:0};
        var success = {icon:1,time:1800,btn:false,title:'',closeBtn:0};
        var error = {icon:2,time:1800,btn:false,title:'',closeBtn:0};
    </script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/core.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/apps/admin/_static/js/module.js"></script>
    <script src="http://try.51eduline.com/addons/theme/stv1/_static/js/common.js"></script>
    <script src="http://try.51eduline.com/addons/theme/stv1/_static/js/module.common.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/apps/admin/_static/js/admin.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/ui.layer.js"></script>
    <!--非admin应用的后台js脚本统一写在  模板风格对应的app目录下的admin.js中-->
    <script type="text/javascript" src="http://try.51eduline.com/apps/course/_static/js/admin.js"></script>
    <style>
        @font-face {font-family: 'iconfontNEW';src: url('http://try.51eduline.com/addons/theme/stv1/_static/icon/iconfontNEW.woff?v={$site.sys_version}');}
        .iconfontNEW{font-family: iconfontNEW;font-style: normal;}
    </style>
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="showTable">
<div id="container" class="so_main">
    <!-- START TAB框 -->
    <div class="tit_tab">
        <ul>
            <li><a href="../page/toGksshow">已审</a></li>
            <li><a href="../page/toGksdaishen" >待审</a></li>
            <li><a href="../page/toGkshuishouzhan" >回收站</a></li>
            <li><a href="../page/toGksadd" >添加</a></li>
            <li><a href="../page/toGkskejianku" class="on">课件库</a></li>
            <li><a href="../page/toGksshipintanti" >视频弹题题库</a></li>
            <li><a href="../page/toGkscctongbushipin" >CC待同步视频库</a></li>
            <li><a href="#" >导出</a></li>
            <!-- 已审 -->
        </ul>
    </div>
    <!-- END TAB框 -->

    <!-- START 页面配置 -->
    <div id='page_config' class = "form2 list" >
        <div class="hd">提示：checkbox如果默认有多个值，请以“,”隔开。</div>
        <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=savePageConfig" method="POST">
            <input type="hidden" name='pageKey' value="course_AdminVideo_videoLib"  class="s-txt"/>
            <input type="hidden" name='pageTitle' value="课件库" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">是否隐藏</th>
                    <th class="line_l">点击事件</th>
                </tr>
                <tr overstyle="on">
                    <td width="20%"> <input type="hidden" name='key[]' value='id'> id</td>
                    <td width="30%"><input type="text" name='key_name[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%">
                        <select name="key_hidden[]">
                            <option value="0" selected="selected">显示</option>
                            <option value="1" >隐藏</option>
                        </select>
                    </td>
                    <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <!-- <td style="background-color:#1E325C">
                    <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                    <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                    </td> -->
                </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='uid'> uid</td>
                <td width="30%"><input type="text" name='key_name[]' value='创建人'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='title'> title</td>
                <td width="30%"><input type="text" name='key_name[]' value='名称'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_type'> video_type</td>
                <td width="30%"><input type="text" name='key_name[]' value='存储'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='type'> type</td>
                <td width="30%"><input type="text" name='key_name[]' value='类型'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='ctime'> ctime</td>
                <td width="30%"><input type="text" name='key_name[]' value='创建时间'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='is_syn'> is_syn</td>
                <td width="30%"><input type="text" name='key_name[]' value='是否同步'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='status_txt'> status_txt</td>
                <td width="30%"><input type="text" name='key_name[]' value='状态'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='DOACTION'> DOACTION</td>
                <td width="30%"><input type="text" name='key_name[]' value='操作'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
            </table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 页面配置 -->

    <!-- START 搜索配置 -->
    <div id='search_config' class = "form2 list" >
        <div class="hd">提示:checkbox如果默认有多个值,请以","隔开。</div>
        <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=saveSearchConfig" method="POST">
            <input type="hidden" name='searchPageKey' value="S_course_AdminVideo_videoLib" />
            <input type="hidden" name='pageTitle' value="课件库" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">输入类型</th>
                    <th class="line_l">提示信息</th>
                    <th class="line_l">验证事件</th>
                </tr>
                <tr overstyle="on" >
                    <td width="15%"><input type="hidden" name='key[]' value='id'> id</td>
                    <td width="20%"><input type="text" name='key_name[]' value='' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%"><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                </tr>					<tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='title'> title</td>
                <td width="20%"><input type="text" name='key_name[]' value='名称' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' selected="selected">文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='uid'> uid</td>
                <td width="20%"><input type="text" name='key_name[]' value='创建人' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' selected="selected">用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='type'> type</td>
                <td width="20%"><input type="text" name='key_name[]' value='类型' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' selected="selected">单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='status'> status</td>
                <td width="20%"><input type="text" name='key_name[]' value='状态' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' selected="selected">单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='ctime'> ctime</td>
                <td width="20%"><input type="text" name='key_name[]' value='创建时间' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' selected="selected">日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
            </table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 搜索配置 -->

    <!-- START 搜索框 -->
    <div class="form2" id='search_form' >
        <form action="http://try.51eduline.com/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&dosearch=1" method="post">
            <dl class="lineD" id='dl_id'>
                <dt>id：</dt>
                <dd>
                    <input  v-model="id" type="text"  class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >
                </dd>
            </dl>
            <dl class="lineD" id='dl_title'>
                <dt>名称：</dt>
                <dd>
                    <input v-model="coursewarename" type="text" value=""  class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >
                </dd>
            </dl>
            <dl class="lineD" id='dl_uid'>
                <dt>创建人：</dt>
                <dd>
                  <input v-model="username" type="text" onfocus="this.className='s-txt-focus'" onblur="this.className='s-txt'" class="s-txt"  autocomplete="off"  >
                </dd>
            </dl>
            <dl class="lineD" id='dl_type'>
                <dt>类型：</dt>
                <dd>
                    <label><input type="radio" v-model="texttypeid" checked="checked"  >不限 </label>
                    <label><input type="radio" v-model="texttypeid" value='1'   >视频 </label>
                    <label><input type="radio" v-model="texttypeid" value='2'   >音频 </label>
                    <label><input type="radio" v-model="texttypeid" value='3'   >文本 </label>
                    <label><input type="radio" v-model="texttypeid" value='4'   >文档 </label>
                    <label><input type="radio" v-model="texttypeid" value='5'   >视频链接 </label> <br/>
                </dd>
            </dl>
            <dl class="lineD" id='dl_status'>
                <dt>状态：</dt>
                <dd>
                    <label><input type="radio" v-model="kjstatus" checked="checked"  >不限 </label>
                    <label><input type="radio" v-model="kjstatus" value='1'   >禁用 </label>
                    <label><input type="radio" v-model="kjstatus" value='0'   >正常 </label>
                </dd>
            </dl>
            <!--<dl class="lineD" id='dl_ctime'>
                <dt>创建时间：</dt>
                <dd>
                    <input name="ctime[]" type="text" class="s-txt" id="from_ctime_0" value='' onfocus="core.rcalendar(this,'full');" readonly="readonly" style="width:200px;"/>
                    —
                    <input name="ctime[]" type="text" class="s-txt" id="from_ctime_1" value='' onfocus="core.rcalendar(this,'full');" readonly="readonly" style="width:200px;"/>
                </dd>
            </dl>-->
            <div class="page_btm">
                <input type = "reset" value = "清空" class="btn_b" onclick="reset_search()">&nbsp;&nbsp;
                <input type="button" value="确定" class="btn_b" v-on:click="search()">
                 &nbsp;&nbsp;
                <input type="button" value="关闭" class="btn_w" onclick="admin.fold('search_form')">
            </div>
        </form>
    </div>
    <!-- END 搜索框 -->

    <!-- START TOOLBAR -->
    <div class="Toolbar_inbox">
        <!-- <div class="page right"><span>共58条</span> <a class='current'>1</a><a p='2' href='/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&p=2'>2</a><a p='3' href='/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&p=3'>3</a><a p='2' href='/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&p=2' class='next'>下一页</a></div> -->
        <a onclick="admin.fold('search_form')" class="btn_a"><span>搜索</span></a>
        <a onclick="admin.addVideoLib()" class="btn_a"><span>添加</span></a>
        <a v-on:click="kejiankujinyongAll()" class="btn_a"><span>禁用</span></a>
        <a onclick="admin.delVideoLib('is_del')" class="btn_a"><span>删除</span></a>
    </div>
    <!-- END TOOLBAR -->

    <!-- START LIST -->
    <div class="list" id='list'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th style="width:30px;">
                    <input type="checkbox" @click="checkAll" v-model="checked">
                </th>
                <th class="line_l"  style="width:30px;"  >id</th>
                <th class="line_l"   >创建人</th>
                <th class="line_l"   >名称</th>
                <th class="line_l"   >存储</th>
                <th class="line_l"   >类型</th>
                <th class="line_l"   >创建时间</th>
                <th class="line_l"   >是否同步</th>
                <th class="line_l"   >状态</th>
                <th class="line_l"   style="width:auto;" >操作</th>
            </tr>

            <tr overstyle="on" v-for="kejianku in data">
                <td><input type="checkbox" v-model="checkModel" :value="kejianku.id"></td>
                <td >{{kejianku.id}}</td>
                <td >
                <a event-node="face_card" uid="1685" href="http://try.51eduline.com/user/index/1685.html" class="" target="_blank">{{kejianku.username}}</a>
                </td>
                <td >{{kejianku.coursewarename}}</td>
                <td >{{kejianku.memoryaddress}}</td>
                <td >{{kejianku.texttypename}}</td>
                <td >{{kejianku.kjaddtime}}</td>
                <td ><span v-if="kejianku.tongbustatus==0">已同步</span><span v-else>未同步</span></td>
                <td >
                    <font color="green" v-if="kejianku.kjstatus==0">正常</font>
                    <font v-else>禁用</font>
                </td>
                <td >
                   <!-- <a href="javascript:void(0);" onclick="admin.resourcesPreview(95);">预览</a> |
                    <a href="http://try.51eduline.com/index.php?app=course&mod=AdminVideo&act=addVideoLib&id=95&tabHash=addVideoLib">编辑</a> |-->
                    <a href="#" v-on:click="kejiankujinyong(kejianku.id,kejianku.kjstatus)"><span v-if="kejianku.kjstatus==0">禁用</span><span v-else>恢复</span></a>|
                    <a href="#" v-on:click="delKejianku(kejianku.id)">删除</a>
                </td>
            </tr>
            </table>
    </div>
    <!-- END LIST -->

    <!-- START BOTTOMBAR -->
    <div class="Toolbar_inbox">
        <div class="page right">
            <span>{{total}}</span>
            <!--<a class='current'>1</a>
            <a p='2' href='/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&p=2'>2</a>
            <a p='3' href='/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&p=3'>3</a>
            <a p='2' href='/index.php?app=course&mod=AdminVideo&act=videoLib&tabHash=videoLib&p=2' class='next'>下一页</a>-->
        </div>
        <!-- 	<a onclick="admin.fold('search_form')" class="btn_a"><span>搜索</span></a><a onclick="admin.addVideoLib()" class="btn_a"><span>添加</span></a><a onclick="admin.delVideoLib('status')" class="btn_a"><span>禁用</span></a><a onclick="admin.delVideoLib('is_del')" class="btn_a"><span>删除</span></a> -->
    </div>
    <!-- END BOTTOMBAR -->
</div>
<script>
    function reset_search() {
        var url = $('#search_form form ').attr('action');
        window.location.href = url;
    }
</script>
<script type="text/javascript">
    document.onkeydown=function (e) {
        e=window.event||e;
        var key = e.keyCode;
        if ((e.ctrlKey && key == 82) || key == 116) {
            parent.MainIframe.location.reload();
            if(document.all) {
                e.keyCode = 0;
                e.returnValue = false;
            }else {
                e.cancelBubble = true;
                e.preventDefault();
            }
        }
    }
    /**
     * 初始化对象
     */
//表格样式
    $(document).ready(function(){
        admin.bindTrOn();});
</script>
<script type="text/javascript">
    /**
     * vue全局变量
     */
    var a;

    /**
     * 页面加载
     */
    $(function () {
        findketangkuAll();
    })

    /**
     * 课件库查询方法
     */
    function findketangkuAll() {
        $.post('../findketangkuAll',{},function (data) {
            a= new Vue({
                el: '#showTable',
                data: {
                    data: data.gksKejianku,
                    total:data.totalCount,
                    id:'',
                    coursewarename:'',
                    username:'',
                    texttypeid:'',
                    kjstatus:'',
                    checked:false, //是否全选
                    checkModel:[] //双向数据绑定的数组，我是用的id
                },
                watch:{
                    checkModel(){
                        if(this.checkModel.length==this.data.length){
                            this.checked=true;
                        }else{
                            this.checked=false;
                        }
                    }
                },
                methods:{
                    checkAll(){
                        if(this.checked){
                            this.data.forEach((kejianku)=>{
                                if(this.checkModel.indexOf(kejianku.id)==-1){
                                    this.checkModel.push(kejianku.id)
                                }
                            })

                        }else{
                            this.checkModel=[];
                        }
                    }
                }
            })
        })
    }


    /**
     * 条查
     */
    function search() {
        $.ajax({
            url:'../findketangkuAll',
            type:'post',
            data:{
                "id":a.id,
                "coursewarename":a.coursewarename,
                "username":a.username,
                "texttypeid":a.texttypeid,
                "kjstatus":a.kjstatus,
            },
            success:function (data) {
                a.data= data.gksKejianku,
                a.total=data.totalCount
            },
            error:function () {
                alert("后台错误")
            }
        })
    }
    /**
     * 课件库禁用按钮
     * @param id
     */
    function kejiankujinyong(id,kjstatus) {
        $.post('../kejiankujinyong',{id:id,kjstatus:kjstatus},function (data) {
            if(data){
                window.location.reload();
            }
        })
    }

    /**
     * 课件库批量禁用按钮
     * @param ids
     */
    function kejiankujinyongAll() {
        var arr=a.checkModel;
        var ids="";
        if (arr.length<1){
            alert('请选择')
        }else {
            for (var i = 0; i < arr.length; i++) {
                ids += ids == "" ? arr[i] : ","+arr[i];
            }
            $.post('../kejiankujinyongAll',{ids:ids},function (data) {
                if(data)  {
                    window.location.reload();
                }
            })
        }
    }

    /**
     * 课件库删除
     * @param id
     */
    function delKejianku(id) {
        $.post('../delKejianku',{id:id},function (data) {
            if(data){
                window.location.reload();
            }
        })
    }
</script>
</div>
</body>
</html>