
<style media="screen">
    body{background: #fff;}

</style>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://try.51eduline.com/apps/admin/_static/css/admin.css" rel="stylesheet" type="text/css">
    <script>
        /**
         * 全局变量
         */
        var SITE_URL  = 'http://try.51eduline.com';
        var THEME_URL = 'http://try.51eduline.com/addons/theme/stv1/_static';
        var APPNAME   = 'course';
        var UPLOAD_URL ='http://try.51eduline.com/data/upload';
        var MID		  = '1678';
        var UID		  = '1678';
        var initNums  =  '140';
        // Js语言变量
        var LANG = new Array();
        var info = {icon:0,time:1800,btn:false,title:'',closeBtn:0};
        var success = {icon:1,time:1800,btn:false,title:'',closeBtn:0};
        var error = {icon:2,time:1800,btn:false,title:'',closeBtn:0};
    </script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/core.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/apps/admin/_static/js/module.js"></script>
    <script src="http://try.51eduline.com/addons/theme/stv1/_static/js/common.js"></script>
    <script src="http://try.51eduline.com/addons/theme/stv1/_static/js/module.common.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/apps/admin/_static/js/admin.js"></script>
    <script type="text/javascript" src="http://try.51eduline.com/addons/theme/stv1/_static/js/ui.layer.js"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <!--非admin应用的后台js脚本统一写在  模板风格对应的app目录下的admin.js中-->
    <script type="text/javascript" src="http://try.51eduline.com/apps/course/_static/js/admin.js"></script>
    <style>
        @font-face {font-family: 'iconfontNEW';src: url('http://try.51eduline.com/addons/theme/stv1/_static/icon/iconfontNEW.woff?v={$site.sys_version}');}
        .iconfontNEW{font-family: iconfontNEW;font-style: normal;}
    </style>
    <script src="/js/axios.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="showTable">
<div id="container" class="so_main">
    <!-- START TAB框 -->
    <div class="tit_tab">
        <ul>
            <li><a href="../page/toGksshow" class="on">已审</a></li>
            <li><a href="../page/toGksdaishen" >待审</a></li>
            <li><a href="../page/toGkshuishouzhan" >回收站</a></li>
            <li><a href="#" >添加</a></li>
            <li><a href="../page/toGkskejianku" >课件库</a></li>
            <li><a href="../page/toGksshipintanti" >视频弹题题库</a></li>
            <li><a href="../page/toGkscctongbushipin" >CC待同步视频库</a></li>
            <li><a href="#" >导出</a></li>
            <!-- 已审 -->
        </ul>
    </div>
    <!-- END TAB框 -->

    <!-- START 页面配置 -->
    <div id='page_config' class = "form2 list" >
        <div class="hd">提示：checkbox如果默认有多个值，请以“,”隔开。</div>
        <form action="../index.php?app=admin&mod=Index&act=savePageConfig" method="POST">
            <input type="hidden" name='pageKey' value="course_AdminVideo_index"  class="s-txt"/>
            <input type="hidden" name='pageTitle' value="已审" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">是否隐藏</th>
                    <th class="line_l">点击事件</th>
                </tr>
                <tr overstyle="on">
                    <td width="20%"> <input type="hidden" name='key[]' value='id'> id</td>
                    <td width="30%"><input type="text" name='key_name[]' value='编号'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%">
                        <select name="key_hidden[]">
                            <option value="0" selected="selected">显示</option>
                            <option value="1" >隐藏</option>
                        </select>
                    </td>
                    <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <!-- <td style="background-color:#1E325C">
                    <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                    <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                    </td> -->
                </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_title'> video_title</td>
                <td width="30%"><input type="text" name='key_name[]' value='课程名称'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='cover'> cover</td>
                <td width="30%"><input type="text" name='key_name[]' value='课程封面'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='v_price'> v_price</td>
                <td width="30%"><input type="text" name='key_name[]' value='市场价'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='t_price'> t_price</td>
                <td width="30%"><input type="text" name='key_name[]' value='销售价'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='user_title'> user_title</td>
                <td width="30%"><input type="text" name='key_name[]' value='上传用户'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='teacher_name'> teacher_name</td>
                <td width="30%"><input type="text" name='key_name[]' value='教师名称'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_collect_count'> video_collect_count</td>
                <td width="30%"><input type="text" name='key_name[]' value='收藏数'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_comment_count'> video_comment_count</td>
                <td width="30%"><input type="text" name='key_name[]' value='评论数'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_question_count'> video_question_count</td>
                <td width="30%"><input type="text" name='key_name[]' value='提问数'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_note_count'> video_note_count</td>
                <td width="30%"><input type="text" name='key_name[]' value='笔记数'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_score'> video_score</td>
                <td width="30%"><input type="text" name='key_name[]' value='课程评分'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_order_count'> video_order_count</td>
                <td width="30%"><input type="text" name='key_name[]' value='学习人数'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='video_order_count_mark'> video_order_count_mark</td>
                <td width="30%"><input type="text" name='key_name[]' value='学习人数（营销）'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='is_charge'> is_charge</td>
                <td width="30%"><input type="text" name='key_name[]' value='是否免费'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='activity'> activity</td>
                <td width="30%"><input type="text" name='key_name[]' value='是否审核'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='best'> best</td>
                <td width="30%"><input type="text" name='key_name[]' value='是否精选'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='ctime'> ctime</td>
                <td width="30%"><input type="text" name='key_name[]' value='创建时间'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='listingtime'> listingtime</td>
                <td width="30%"><input type="text" name='key_name[]' value='上架时间'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" >显示</option>
                        <option value="1" selected="selected">隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='uctime'> uctime</td>
                <td width="30%"><input type="text" name='key_name[]' value='下架时间'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
                <tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='DOACTION'> DOACTION</td>
                <td width="30%"><input type="text" name='key_name[]' value='操作'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="../addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>
            </table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 页面配置 -->

    <!-- START 搜索配置 -->
    <div id='search_config' class = "form2 list" >
        <div class="hd">提示:checkbox如果默认有多个值,请以","隔开。</div>
        <form action="../index.php?app=admin&mod=Index&act=saveSearchConfig" method="POST">
            <input type="hidden" name='searchPageKey' value="S_course_AdminVideo_index" />
            <input type="hidden" name='pageTitle' value="已审" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">输入类型</th>
                    <th class="line_l">提示信息</th>
                    <th class="line_l">验证事件</th>
                </tr>
                <tr overstyle="on" >
                    <td width="15%"><input type="hidden" name='key[]' value='id'> id</td>
                    <td width="20%"><input type="text" name='key_name[]' value='课程ID' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%"><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='video_title'> video_title</td>
                <td width="20%"><input type="text" name='key_name[]' value='课程名称' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' selected="selected">文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='uid'> uid</td>
                <td width="20%"><input type="text" name='key_name[]' value='上传用户UID' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' selected="selected">文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='teacher_id'> teacher_id</td>
                <td width="20%"><input type="text" name='key_name[]' value='教师id' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' selected="selected">文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='is_charge'> is_charge</td>
                <td width="20%"><input type="text" name='key_name[]' value='是否免费' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' selected="selected">单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='is_best'> is_best</td>
                <td width="20%"><input type="text" name='key_name[]' value='是否精选' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' selected="selected">单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='is_best_like'> is_best_like</td>
                <td width="20%"><input type="text" name='key_name[]' value='' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' selected="selected">隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='listingtime'> listingtime</td>
                <td width="20%"><input type="text" name='key_name[]' value='上架时间' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' selected="selected">日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='uctime'> uctime</td>
                <td width="20%"><input type="text" name='key_name[]' value='下架时间' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' selected="selected">日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
                <tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='quanzhong'> quanzhong</td>
                <td width="20%"><input type="text" name='key_name[]' value='' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' selected="selected">隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>
            </table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 搜索配置 -->

    <!-- START 搜索框 -->
    <div class="form2" id='search_form' >
        <form action="..act=index&tabHash=index&dosearch=1" method="post">
            <dl class="lineD" id='dl_id'>
                <dt>课程ID：</dt>
                <dd>
                    <input   v-model="courseid" type="text"   class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >
                </dd>
            </dl>
            <dl class="lineD" id='dl_video_title'>
                <dt>课程名称：</dt>
                <dd>
                    <input v-model="coursetitle" type="text" value=""  class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >
                </dd>
            </dl>
            <dl class="lineD" id='dl_uid'>
                <dt>上传用户UID：</dt>
                <dd>
                    <input v-model="uid" type="text" value=""  class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >
                </dd>
            </dl>
            <dl class="lineD" id='dl_teacher_id'>
                <dt>教师id：</dt>
                <dd>
                    <input v-model="teacherid" type="text" value=""  class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >
                </dd>
            </dl>
            <dl class="lineD" id='dl_is_charge'>
                <dt>是否免费：</dt>
                <dd>
                    <label><input type="radio" v-model="feestart"   checked="checked">不限</label>
                    <label><input type="radio" v-model="feestart" value='0'   >否 </label>
                    <label><input type="radio" v-model="feestart" value='1'   >是 </label>
                </dd>
            </dl>
            <dl class="lineD" id='dl_is_best'>
                <dt>是否精选：</dt>
                <dd>
                    <label><input type="radio" v-model="siftstart"    checked="checked"  >不限 </label>
                    <label><input type="radio" v-model="siftstart"  value='0'   >否 </label>
                    <label><input type="radio" v-model="siftstart"  value='1'   >是 </label>
                </dd>
            </dl>
            <input name="is_best_like" id="form_is_best_like" type="hidden" value=""  class='s-txt'>
            <!--<dl class="lineD" id='dl_listingtime'>
                <dt>上架时间：</dt>
                <dd>
                    <input id="addtimesta" type="date" />
                    —
                    <input id="addtimeend" type="date" />
                </dd>
            </dl>
            <dl class="lineD" id='dl_uctime'>
                <dt>下架时间：</dt>
                <dd>
                    <input type="date" />
                    —
                    <input type="date" />
                </dd>
            </dl>-->
            <input name="quanzhong" id="form_quanzhong" type="hidden" value=""  class='s-txt'>
            <div class="page_btm">
                <input type = "reset" value = "清空" class="btn_b" onclick="reset()">&nbsp;&nbsp;
                <input type="button" value="确定" class="btn_b" onclick="search()"> &nbsp;&nbsp;
                <input type="button" value="关闭" class="btn_w" onclick="admin.fold('search_form')">
            </div>
        </form>
    </div>
    <!-- END 搜索框 -->

    <!-- START TOOLBAR -->
    <div class="Toolbar_inbox">
        <!-- <div class="page right"><span>共13条</span></div> -->
        <a onclick="admin.fold('search_form')" class="btn_a"><span>搜索</span></a>
        <a v-on:click="jinyongAll()" class="btn_a"><span>禁用</span></a>
        <a v-on:click="yxfenxiaoAll()" class="btn_a"><span>允许分销</span></a>
        <a v-on:click="jzfenxiaoAll()" class="btn_a"><span>禁止分销</span></a>
    </div>
    <!-- END TOOLBAR -->

    <!-- START LIST -->
    <div class="list" id='list'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th style="width:30px;">
                    <input type="checkbox" @click="checkAll" v-model="checked">
                </th>
                <th class="line_l"   >编号</th>
                <th class="line_l"   >课程名称</th>
                <th class="line_l"   >课程封面</th>
                <th class="line_l"   >市场价</th>
                <th class="line_l"   >销售价</th>
                <th class="line_l"   >上传用户</th>
                <th class="line_l"   >教师名称</th>
                <th class="line_l"   >课程评分</th>
                <th class="line_l"   >学习人数</th>
                <th class="line_l"   >学习人数（营销）</th>
                <th class="line_l"   >是否免费</th>
                <th class="line_l"   >是否精选</th>
                <th class="line_l"   >下架时间</th>
                <th class="line_l"   style="width:auto;" >操作</th>
            </tr>
            <tr overstyle="on" v-for="dianbo in data">

                <td><input type="checkbox" v-model="checkModel" :value="dianbo.id"></td>
                <td >{{dianbo.id}}</td>
                <td >
                <a href='#' style='color:#3b5999; ' target='_blank'>{{dianbo.coursetitle}}</a>
                </td>
                <td ><img src=# width='60px' height='60px'></td>
                <td >{{dianbo.marketprice}}</td>
                <td >{{dianbo.salesprice}}</td>
                <td >
                    <a event-node="face_card" uid="1676" href="#" class="" target="_blank">{{dianbo.username}}</a>
                </td>
                <td >
                <a href='#' style='color:#3b5999; ' target='_blank'>{{dianbo.teachername}}</a>					</td>
                <td >{{dianbo.coursegrade}}					</td>
                <td >{{dianbo.countmark}}				</td>
                <td >{{dianbo.countmarkmarketing}}					</td>
                <td ><span v-if="dianbo.feestart==1">是</span><span v-else>否 </span></td>
                <td ><span v-if="dianbo.siftstart==1">是</span><span v-else>否 </span></td>
                <td >{{dianbo.outtime}}</td>
                <td >
                    <!--  <a href="#"  >课时管理</a>
                    | <a href="#">学习记录</a>
                    | <a href="#">提问</a>
                    | <a href="#">笔记</a>
                    | <a href="#">评价</a>
                    | <a href="#">编辑</a>
                    | <a href="#">赠送</a>  | -->
                    <a href="#" v-on:click="fenxiao(dianbo.id,dianbo.fenxiaostatus)"><span v-if="dianbo.fenxiaostatus==0">禁止分销</span><span v-else>允许分销</span></a>
                    | <a href="#" v-on:click="jinyong(dianbo.id)">禁用</a>
                    | <a href="#" v-on:click="shangxiajia(dianbo.id,dianbo.shangxiajiastatus)"><span v-if="dianbo.shangxiajiastatus==0">立即下架</span><span v-else>立即上架</span></a>
                </td>
            </tr>
             </table>
    </div>
    <!-- END LIST -->

    <!-- START BOTTOMBAR -->
    <div class="Toolbar_inbox">
        <div class="page right"><span>共13条</span></div>
        <!-- 	<a onclick="admin.fold('search_form')" class="btn_a"><span>搜索</span></a><a onclick="admin.delVideoAll('delVideoAll')" class="btn_a"><span>禁用</span></a><a onclick="admin.enableMount(0,'Video')" class="btn_a"><span>允许分销</span></a><a onclick="admin.disableMount(0,'Video')" class="btn_a"><span>禁止分销</span></a> -->
    </div>
    <!-- END BOTTOMBAR -->
</div>
<script>
    function reset_search() {
        var url = $('#search_form form ').attr('action');
        window.location.href = url;
    }
</script>
<script type="text/javascript">
    document.onkeydown=function (e) {
        e=window.event||e;
        var key = e.keyCode;
        if ((e.ctrlKey && key == 82) || key == 116) {
            parent.MainIframe.location.reload();
            if(document.all) {
                e.keyCode = 0;
                e.returnValue = false;
            }else {
                e.cancelBubble = true;
                e.preventDefault();
            }
        }
    }
    /**
     * 初始化对象
     */
//表格样式
    $(document).ready(function(){
        admin.bindTrOn();});
</script>
<script type="text/javascript">

    /**
     * vue全局变量
     * @param id
     */
    var a;

    /**
     * 自动加载
     * @param id
     */
    $(function () {
        gksfinddianbokechengAll();
    })

    /**
     * 清空搜索框
     * @param id
     */
    function reset() {
            courseid:""
            coursetitle:""
            uid:""
            teacherid:""
            feestart:""
            siftstart:""
    }

    /**
     * 条件查询方法
     * @param id
     */
    function search() {
        $.ajax({
            url:'../gksfinddianbokechengAll',
            type:'post',
            data:{
                "courseid":a.courseid,
                "coursetitle":a.coursetitle,
                "uid":a.uid,
                "teacherid":a.teacherid,
                "feestart":a.feestart,
                "siftstart":a.siftstart,
            },
            success:function (data) {
                a.data= data
            },
            error:function () {
                alert("后台错误")
            }
        })
    }

    /**
     * 查询方法
     * @param id
     */
    function gksfinddianbokechengAll() {
        $.post('../gksfinddianbokechengAll',{},function (data) {
           a= new Vue({
                el: '#showTable',
                data: {
                    data: data,
                    courseid:"",
                    coursetitle:"",
                    uid:"",
                    teacherid:"",
                    feestart:"",
                    siftstart:"",
                    addtimesta:"",
                    outtimesta:"",
                    addtimeend:"",
                    outtimeend:"",
                    checked:false, //是否全选
                    checkModel:[] //双向数据绑定的数组，我是用的id
                },
               watch:{
                checkModel(){
                    if(this.checkModel.length==this.data.length){
                        this.checked=true;
                    }else{
                        this.checked=false;
                    }
                }
            },
               methods:{
                   checkAll(){
                       if(this.checked){
                           this.data.forEach((dianbo)=>{
                               if(this.checkModel.indexOf(dianbo.id)==-1){
                                   this.checkModel.push(dianbo.id)
                               }
                           })

                       }else{
                           this.checkModel=[];
                       }
                   }
               }
            })
        })
    }

    /**
     * 禁用按钮
     * @param id
     */
    function jinyong(id) {
        var jinyongstatus=1;
        $.post('../gksUpdJinyongStatus',{id:id,jinyongstatus:jinyongstatus},function (data) {
          if(data)  {
              window.location.reload();
          }
        })
    }

    function jinyongAll(){
        var arr=a.checkModel;
        var jinyongstatus=1;
        var ids = "";
        if (arr.length<1){
            alert('请选择')
        }else {
            for (var i = 0; i < arr.length; i++) {
                ids += ids == "" ? arr[i] : ","+arr[i];
            }
            $.post('../gksUpdJinyongStatusAll', {ids: ids,jinyongstatus:jinyongstatus}, function (data) {
                if (data) {
                    window.location.reload();
                }
            })
        }
    }

    /**
     * 修改上下架状态
     * @param id
     */
    function shangxiajia(id,shangxiajiaStatus) {
        $.post('../gksUpdshangxiajiaStatus',{id:id,shangxiajiastatus:shangxiajiaStatus},function (data) {
            if (data){
                window.location.reload();
            }
        })
    }

    /**
     * 是否分销
     * @param id
     */
    function fenxiao(id,fenxiaoStatus) {
        $.post('../gksUpdfenxiaoStatus',{id:id,fenxiaostatus:fenxiaoStatus},function (data) {
            if(data)  {
                window.location.reload();
            }
        })
    }

    /**
     * 批量允许分销
     */
    function yxfenxiaoAll() {
        var arr=a.checkModel;
        var ids="";
        if (arr.length<1){
            alert('请选择')
        }else {
            for (var i = 0; i < arr.length; i++) {
                ids += ids == "" ? arr[i] : ","+arr[i];
            }
            $.post('../gksUpdyxfenxiaoAll',{ids:ids},function (data) {
                if(data)  {
                    window.location.reload();
                }
            })
        }
    }

    /**
     * 批量禁止分销
     */
    function jzfenxiaoAll() {
        var arr=a.checkModel;
        var ids="";
        if (arr.length<1){
            alert('请选择')
        }else {
            for (var i = 0; i < arr.length; i++) {
                ids += ids == "" ? arr[i] : ","+arr[i];
            }
            $.post('../gksUpdjzfenxiaoAll', {ids:ids}, function (data) {
                if (data) {
                    window.location.reload();
                }
            })
        }
    }

</script>
</div>
</body>
</html>